# Dependencies
node_modules
dist
dist-ssr
*.local

# Brainstorm companion
.superpowers/

# Editor
.DS_Store
*.sw?
.idea
.vscode

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript
*.tsbuildinfo
